---
import {options} from "@src/constants/settings"
import {getUserSettingsFromAstro} from "@src/utils/getUserSettings"

if (Astro.request.method === 'POST') {
  const formData = await Astro.request.formData();
  const entries = formData.entries();

  const allowedNames = options.map(o => o.name)

// loop through entries
for (const entry of entries) {
  const [name, value] = entry;

    if (allowedNames.includes(name)) {
    console.log(name, value)
    Astro.cookies.set(name, value, {path: '/', sameSite: 'lax', httpOnly: false})
    }
}
}

const userSettings = getUserSettingsFromAstro(Astro)
---

<h1>Settings</h1>
<form method="POST">
  {userSettings.map(option => (
  <div>
    <label for={option.name}>{option.label}</label>
    <input type="number" name={option.name} value={option.current} step="0.1" />
  </div>
  ))}
  <input type="submit" value="Save" />
</form>
